:root {
    --bg-color: #F2FEDC;
    --tog-bg: #F9F871;
}

html[data-theme='light'] {
    --bg-color: #F2FEDC;
    --tog-bg: #F9F871;
}

html[data-theme='dark'] {
    --bg-color: #2C394B;
    --tog-bg: #5B687C;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: grid;
    place-content: center;
    background: var(--bg-color);
}

.toggle {
    position: relative;
    width: 10rem;
    height: 5rem;
    background: var(--tog-bg);
    border-radius: 100px;
}

.toggle .icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 4.5rem;
    margin: .3rem;
    pointer-events: none;
    transition: all 1s;
}

.moon {
    opacity: 0;
}

.toggle input {
    opacity: 0;
    height: 5rem;
    width: 10rem;
    cursor: pointer;
}

.toggle input:checked+lable .moon {
    opacity: 1;
}

.toggle input:checked+lable .sun {
    opacity: 0;
}

.toggle input:checked+lable .icon {
    transform: translateX(4.9rem) rotate(360deg);
}